@model AccidentalFish.Operations.Website.Domain.ViewModel.AlertSubscriber

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<form role="form" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mobile)
        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mobile)
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>